.Login {
  display: flex;
}

.Login-errorMessage {
  background: red;
  position: absolute;
  right: 10px;
  top: 20px;
}

.Login-invalidEmail {
  box-shadow: 0 0 3px #CC0000;
}

.Login-invalidPassword {
  box-shadow: 0 0 3px #CC0000;
}

.Login-submit {
  flex-grow: 0;
}
