.Message-header--name {
  font-weight: bold;
}

.Message-header--time {
  font-size: .8em;
  color: #aeaeae;
}

.Message .Message-content {
  margin-top: .2em;
  margin-bottom: 1em;
  word-break: break-all;
}
