.Navbar {
  align-items: center;
  display: flex;
  margin: 5px 3px 5px 3px;
  width: 100%;
}

.Navbar-auth {
  align-items: center;
  display: flex;
}

.Navbar-title {
  flex: 1;
  text-align: left;
}
