.SearchAndCreateContainer-dropdown {
  background-color: lightgrey;
  display: flex;
  flex-flow: column;
  max-height: 250px;
  position: absolute;
  z-index: 100;
}

.SearchAndCreateContainer-dropdown--mainContainer {
  flex: 1;
  overflow-y: scroll;
  padding: 0px 10px;
}

.SearchAndCreateContainer-dropdown--children {
  padding: 10px 0;
}

.SearchAndCreateContainer-dropdown--buttonContainer {
  border-top: 1px solid black;
  padding: 10px;
}

.SearchAndCreateContainer-noResults {
  margin: 10px 0px;
}

.SearchAndCreateContainer-item.handlesClicks:hover {
  cursor: pointer;
}
