.SearchAndCreateContainer-dropdown {
  display: flex;
  flex-flow: column;
  max-height: 250px;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

.SearchAndCreateContainer-dropdown--mainContainer {
  flex: 1;
  overflow-y: scroll;
}

.SearchAndCreateContainer-dropdown--buttonContainer {
  border-top: 1px solid black;
  padding: 10px;
}

.SearchAndCreateContainer-item.handlesClicks:hover {
  cursor: pointer;
}
