.SearchContainer-dropDown {
  background-color: lightgrey;
  display: flex;
  flex-flow: column;
  max-height: 250px;
  position: absolute;
  z-index: 100;
}

.SearchContainer-dropDown--mainContainer {
  flex: 1;
  overflow-y: scroll;
  padding: 0px 10px;
}

.SearchContainer-dropDown--buttonContainer {
  border-top: 1px solid black;
  padding: 10px;
}

.SearchContainer-item:hover {
  cursor: pointer;
}
