.Chat {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.Chat-buttonWrapper {
  display: flex;
  flex-direction: column;
}

.Chat-inputContainer {
  display: flex;
  width: 100%;
}

.Chat-messages {
  flex: 1;
  overflow: scroll;
}

#Chat-buttonMargin {
  flex: 1;
}
