.Chat {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.Chat-messages {
  flex: 5;
  overflow: scroll;
}

.Chat-input {
  flex: 1;
}

.Chat-input--textbox {
  width: 95%;
  height: 100%;
  overflow: scroll;
  resize: none;
  border: none;
}

.Chat-input--sendButton {
  position: absolute;
  bottom: 1.25%;
  right: .25em;
}
